@import "../tev-theme.css";

:root {
	--main-text-colour: rgb(69, 158, 0);
	--bold-text-weight: 700;
	--bg-text-colour: rgb(85, 85, 85);
	--hover-text-colour: rgb(67, 63, 56);
	--navbar-background-colour: rgb(69, 158, 0);
	--navbar-selected-bg-image: url(/css/themes/south-street/images/ui-bg_highlight-hard_15_459e00_1x100.png);
	--navbar-border-top-style: none;
	--navbar-border-top-colour: rgb(69, 158, 0);
	--navbar-border-top-width: 0px;
	--selected-tab-colour: #fff;
}
