.favSpan {
	color: rgb(102, 88, 116);
	font-weight: bold;
}

.readSpan {
	color: rgb(102, 88, 116);
	font-weight: bold;
}

a {
	color: rgb(102, 88, 116);
}

#postTable_length label {
	color: rgb(246, 246, 246);
}

#postTable_length option {
	color: rgb(102, 88, 116);
}

#postTable_length label select {
	color: rgb(102, 88, 116);
}

.navbar-selected {
	background-color: rgb(228, 217, 222);
	background-image: url(images/ui-bg_highlight-soft_100_dcd9de_1x100.png);
}

.navbar-selected a {
	color: rgb(102, 88, 116);
}

input[type=text] {
	color: rgb(102, 88, 116);
	font-weight: 700;
}

.ui-autocomplete-input {
	color: rgb(102, 88, 116);
	font-weight: 700;
}

