@import "../tev-theme.css";

:root {
	--main-text-colour: rgb(102, 88, 116);
	--bold-text-weight: bold;
	--bg-text-colour: rgb(246, 246, 246);
	--hover-text-colour: none;
	--navbar-background-colour: rgb(228, 217, 222);
	--navbar-selected-bg-image: url(/css/themes/eggplant/images/ui-bg_highlight-soft_100_dcd9de_1x100.png);
	--navbar-border-top-style: none;
	--navbar-border-top-colour: rgb(228, 217, 222);
	--navbar-border-top-width: 0px;
	--selected-tab-colour: rgb(102, 88, 116);
}