.favSpan {
	color: rgb(102, 88, 116);
	font-weight: bold;
}

.readSpan {
	color: rgb(102, 88, 116);
	font-weight: bold;
}

a {
	color: rgb(102, 88, 116);
}

#postTable_length label {
	color: rgb(246, 246, 246);
}

#postTable_length option {
	color: rgb(102, 88, 116);
}

#postTable_length label select {
	color: rgb(102, 88, 116);
}

