@import "../tev-theme.css";

:root {
	--main-text-colour: rgb(230, 151, 0);
	--bold-text-weight: 700;
	--bg-text-colour: rgb(230, 151, 0);
	--hover-text-colour: rgb(20, 132, 230);
	--navbar-background-colour: rgb(20, 132, 230);
	--navbar-selected-bg-image: url(/css/themes/excite-bike/images/ui-bg_diagonals-thick_22_1484e6_40x40.png);
	--navbar-border-top-style: none;
	--navbar-border-top-colour: rgb(20, 132, 230);
	--navbar-border-top-width: 0px;
	--selected-tab-colour: rgb(255, 255, 255);
}
