.favSpan {
	color: rgb(58, 129, 4);
	font-weight: bold;
}

.readSpan {
	color: rgb(58, 129, 4);
	font-weight: bold;
}

a {
	color: rgb(58, 129, 4);
}

.dataTables_length label {
	color: rgb(255, 255, 255);
}

.dataTables_length option {
	color: rgb(58, 129, 4);
}

.dataTables_length label select {
	color: rgb(58, 129, 4);
}

.navbar-selected {
	background-color: rgb(76, 162, 11);
	background-image: url(images/ui-bg_highlight-soft_60_4ca20b_1x100.png);
}

.navbar-selected a {
	color: #fff;
}

input[type=text] {
	color: rgb(40, 92, 0);
}

.ui-autocomplete-input {
	color: rgb(40, 92, 0);
}

