@import "../tev-theme.css";

:root {
	--main-text-colour: rgb(58, 129, 4);
	--bold-text-weight: 700;
	--bg-text-colour: rgb(255, 255, 255);
	--hover-text-colour: none;
	--navbar-background-colour: rgb(76, 162, 11);
	--navbar-selected-bg-image: url(/css/themes/le-frog/images/ui-bg_highlight-soft_60_4ca20b_1x100.png);
	--navbar-border-top-style: none;
	--navbar-border-top-colour: rgb(76, 162, 11);
	--navbar-border-top-width: 0px;
	--selected-tab-colour: #fff;
}
