@import "../tev-theme.css";

:root {
	--main-text-colour: rgb(10, 10, 10);
	--bold-text-weight: 700;
	--bg-text-colour: rgb(34, 34, 34);
	--hover-text-colour: none;
	--navbar-background-colour: rgb(10, 10, 10);
	--navbar-selected-bg-image: url(/css/themes/trontastic/images/ui-bg_glass_40_0a0a0a_1x400.png);
	--navbar-border-top-style: none;
	--navbar-border-top-colour: rgb(10, 10, 10);
	--navbar-border-top-width: 0px;
	--selected-tab-colour: #b8ec79;
}
