.favSpan {
	font-weight: bold;
}

.readSpan {
	font-weight: bold;
}

a {
}

#postTable_length label {
	color: rgb(255, 255, 255);
}

#postTable_length option {
	color: rgb(51, 51, 51);
}

#postTable_length label select {
	color: rgb(51, 51, 51);
}

.navbar-selected {
	background-color: rgb(85, 85, 85);
	background-image: url(images/ui-bg_glass_20_555555_1x400.png);
}

.navbar-selected a {
	color: #eee;
}

input[type=text] {
	color: rgb(0, 0, 0);
	font-weight: 700;
}

.ui-autocomplete-input {
	color: rgb(0, 0, 0);
	font-weight: 700;
}

