@import "../tev-theme.css";

:root {
	--main-text-colour: rgb(39, 121, 170);
	--bold-text-weight: 700;
	--bg-text-colour: rgb(34, 34, 34);
	--hover-text-colour: rgb(34, 34, 34);
	--navbar-background-colour: rgb(215, 235, 249);
	--navbar-selected-bg-image: url(/css/themes/cupertino/images/ui-bg_glass_80_d7ebf9_1x400.png);
	--navbar-border-top-style: none;
	--navbar-border-top-colour: rgb(215, 235, 249);
	--navbar-border-top-width: 0px;
	--selected-tab-colour: #2779aa;
}
