@import "../tev-theme.css";

:root {
	--main-text-colour: rgb(101, 75, 36);
	--bold-text-weight: 700;
	--bg-text-colour: rgb(69, 56, 33);
	--hover-text-colour: rgb(69, 56, 33);
	--navbar-background-colour: rgb(248, 247, 246);
	--navbar-selected-bg-image: url(/css/themes/pepper-grinder/images/ui-bg_fine-grain_10_f8f7f6_60x60.png);
	--navbar-border-top-style: none;
	--navbar-border-top-colour: rgb(248, 247, 246);
	--navbar-border-top-width: 0px;
	--selected-tab-colour: #654b24;
}
