@import "../tev-theme.css";

:root {
	--main-text-colour: rgb(79, 66, 33);
	--bold-text-weight: 700;
	--bg-text-colour: rgb(234, 205, 134);
	--navbar-background-colour: rgb(79, 66, 33);
	--navbar-selected-bg-image: url(/css/themes/swanky-purse/images/ui-bg_diamond_10_4f4221_10x8.png);
	--navbar-border-top-style: none;
	--navbar-border-top-colour: rgb(79, 66, 33);
	--navbar-border-top-width: 0px;
	--selected-tab-colour: #f8eec9;
}
