.favSpan {
	color: rgb(79, 66, 33);
	font-weight: bold;
}

.readSpan {
	color: rgb(79, 66, 33);
	font-weight: bold;
}

a {
	color: rgb(79, 66, 33);
}

#postTable_length label {
	color: rgb(234, 205, 134);
}

#postTable_length option {
	color: rgb(79, 66, 33);
}

#postTable_length label select {
	color: rgb(79, 66, 33);
}

.navbar-selected {
	background-color: rgb(79, 66, 33);
	background-image: url(images/ui-bg_diamond_10_4f4221_10x8.png);
	color: #f8eec9;
}

input[type=text] {
	color: rgb(68, 49, 19);
	font-weight: 700;
}