.favSpan {
	color: rgb(155, 204, 96);
	font-weight: bold;
}

.readSpan {
	color: rgb(155, 204, 96);
	font-weight: bold;
}

a {
	color: rgb(69, 51, 38);
}

#postTable_length label {
	color: rgb(227, 221, 201);
}

#postTable_length option {
	color: rgb(155, 204, 96);
}

#postTable_length label select {
	color: rgb(155, 204, 96);
}

.navbar-selected {
	background-color: rgb(28, 22, 13);
	background-image: url(images/ui-bg_gloss-wave_20_1c160d_500x100.png);
	color: #9bcc60;
}