@import "../tev-theme.css";

:root {
	--main-text-colour: rgb(155, 204, 96);
	--bold-text-weight: 700;
	--bg-text-colour: rgb(227, 221, 201);
	--hover-text-colour: none;
	--navbar-background-colour: rgb(28, 22, 13);
	--navbar-selected-bg-image: url(/css/themes/mint-choc/images/ui-bg_gloss-wave_20_1c160d_500x100.png);
	--navbar-border-top-style: none;
	--navbar-border-top-colour: rgb(28, 22, 13);
	--navbar-border-top-width: 0px;
	--selected-tab-colour: #9bcc60;
}
