.favSpan {
	color: rgb(204, 0, 0);
}

.readSpan {
	color: rgb(204, 0, 0);
}

a {
	color: rgb(204, 0, 0);
}

.dataTables_length label {
	color: rgb(227, 227, 227);
}

.dataTables_length option {
	color: rgb(69, 69, 69);
}

.dataTables_length label select {
	color: rgb(69, 69, 69);
}

.navbar-selected {
	background-color: rgb(238, 238, 238);
	background-image: url(images/ui-bg_highlight-hard_100_eeeeee_1x100.png);
}

.navbar-selected a {
	color: #004276;
}

input[type=text] {
	color: rgb(0, 66, 118);
	font-weight: 700;
}

.ui-autocomplete-input {
	color: rgb(0, 66, 118);
	font-weight: 700;
}

