@import "../tev-theme.css";

:root {
	--main-text-colour: rgb(11, 62, 111);
	--bold-text-weight: 700;
	--bg-text-colour: rgb(246, 246, 246);
	--hover-text-colour: none;
	--navbar-background-colour: rgb(51, 51, 51);
	--navbar-selected-bg-image: url(/css/themes/dot-luv/images/ui-bg_dots-small_20_333333_2x2.png);
	--navbar-border-top-style: none;
	--navbar-border-top-colour: rgb(51, 51, 51);
	--navbar-border-top-width: 0px;
	--selected-tab-colour: rgb(255, 255, 255);
}
