<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${answer.question}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" th:href="@{/owr/postviewers.css}"/>
</head>
<body>

<div class="contentContainer">
<h1 th:utext="${answer.question}"></h1>
<div id="buttonsDiv"></div>
<div id="regularContentContainer" th:utext="${answer.answer}"></div>
</div>
<div id="tagContainer" th:utext="${tags}"></div>

<script type="text/javascript" th:utext="${postIDJS}"></script>
<script type="text/javascript" th:utext="${blogNameJScript}"></script>	
<script type="text/javascript" th:src="@{/owr/jquery.js}"></script>

<script type="text/javascript" th:src="@{/owr/postviewers.js}"></script>

</body>
</html>