<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{exportedxml.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" th:href="@{/owr/jquery.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{'/css/themes/' + ${theme} + '/jquery-ui.min.css'}"/>
    <link rel="stylesheet" type="text/css" th:href="@{'/css/themes/' + ${theme} + '/tev.css'}"/>    
    <link rel="stylesheet" type="text/css" th:href="@{/owr/exportedxml.css}"/>
</head>
<body>
<div id="header"></div>
<div class="container-fluid">
<h1 th:text="#{exportedxml.title}"></h1>
<textarea id="exportedXMLText" class="autoExpand" rows="3" data-min-rows="3"></textarea>
</div>

<div id="footer"></div>

<script type="text/javascript" th:src="@{/owr/jquery.js}"></script>

<script type="text/javascript" th:src="@{/owr/exportedxml.js}"></script>

</body>
</html>