<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{hashtags.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" th:href="@{/owr/jquery.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{'/css/themes/' + ${theme} + '/jquery-ui.min.css'}"/>
    <link rel="stylesheet" type="text/css" th:href="@{'/css/themes/' + ${theme} + '/tev.css'}"/>    
    <link rel="stylesheet" type="text/css" th:href="@{/owr/hashtags.css}"/>
</head>
<body>

<div id="header"></div>

<div class="container-fluid">
<table id="tagsTable" class="display" style="table-layout:fixed">
	<thead>
		<tr>
			<th th:text="#{hashtags.table.name}"></th>
			<th th:text="#{hashtags.table.count}"></th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th th:text="#{hashtags.table.name}"></th>
			<th th:text="#{hashtags.table.count}"></th>
		</tr>
	</tfoot>
</table>
</div>

<div id="footer"></div>

<script type="text/javascript" th:utext="${blogNameJScript}"></script>	
<script type="text/javascript" th:src="@{/owr/jquery.js}"></script>
<script type="text/javascript" th:src="@{/owr/hashtags.js}"></script>

</body>
</html>