<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{hashtags.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" th:href="@{/owr/jquery.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{'/css/themes/' + ${theme} + '/jquery-ui.min.css'}"/>
    <link rel="stylesheet" type="text/css" th:href="@{'/css/themes/' + ${theme} + '/tev.css'}"/>    
    <link rel="stylesheet" type="text/css" th:href="@{/owr/hashtags.css}"/>
</head>
<body>

<div id="header"></div>

<div id="messageAreas"></div>

<div class="container-fluid">
<div id="radioContainer">
	<div class="ui-widget-content">
		<fieldset>
			<label for="showAllBlogsRadio" th:text="#{hashtags.radios.showAllBlogs}" class="ui-checkboxradio-label"></label>
			<input type="radio" name="showBlogsRadios" id="showAllBlogsRadio" class="ui-checkboxradio"></input>
			<label for="showDefaultBlogRadio" th:text="#{hashtags.radios.showThisBlog}" class="ui-checkboxradio-label"></label>
			<input type="radio" name="showBlogsRadios" id="showDefaultBlogRadio" class="ui-checkboxradio"></input>
			<label for="newTagTextBox" th:text="#{hashtags.new.newHashtagBox}" class="ui-checkboxradio-label"></label>
			<input id="newTagTextBox" />
		</fieldset>
	</div>
</div>
<table id="tagsTable" class="display" style="table-layout:fixed">
	<thead>
		<tr>
			<th th:text="#{hashtags.table.name}"></th>
			<th th:text="#{hashtags.table.blog}"></th>
			<th th:text="#{hashtags.table.count}"></th>
			<th th:text="#{hashtags.table.remove}"></th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th th:text="#{hashtags.table.name}"></th>
			<th th:text="#{hashtags.table.blog}"></th>
			<th th:text="#{hashtags.table.count}"></th>
			<th th:text="#{hashtags.table.remove}"></th>
		</tr>
	</tfoot>
</table>
</div>

<div id="footer"></div>

<script type="application/javascript" th:utext="${blogNameJScript}"></script>	
<script type="application/javascript" th:src="@{/owr/jquery.js}"></script>
<script type="application/javascript" th:src="@{/owr/hashtags.js}"></script>

</body>
</html>