<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{hashtags.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/postviewer.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/datatables.min.css}"/>
</head>
<body>

<div class="contentContainer">
<h1 th:text="#{hashtags.title}"></h1>
<table id="tagsTable" class="display" style="table-layout:fixed">
	<thead>
		<tr>
			<th th:text="#{hashtags.table.name}"></th>
			<th th:text="#{hashtags.table.count}"></th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th th:text="#{hashtags.table.name}"></th>
			<th th:text="#{hashtags.table.count}"></th>
		</tr>
	</tfoot>
</table>
</div>

<script type="text/javascript"
        src="webjars/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" 
        src="webjars/jquery-i18n-properties/1.10.2/jquery.i18n.properties.min.js"></script>

<script type="text/javascript" th:src="@{/js/taghandler.js}"></script>
<script type="text/javascript" th:src="@{/js/datatables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/hashtagviewer.js}"></script>

</body>
</html>