<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${link.text}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" th:href="@{/owr/postviewers.css}"/>
</head>
<body>

<div class="contentContainer">
<h1 th:text="${link.text}"></h1>
<div id="buttonsDiv"></div>
<h2><a th:href="${link.url}" target="_blank">LINK</a></h2>
<div id="regularContentContainer" th:utext="${link.description}"></div>
</div>
<div id="tagContainer" th:utext="${tags}"></div>

<script type="application/javascript" th:utext="${postIDJS}"></script>
<script type="application/javascript" th:utext="${blogNameJScript}"></script>	
<script type="application/javascript" th:src="@{/owr/jquery.js}"></script>

<script type="application/javascript" th:src="@{/owr/postviewers.js}"></script>

</body>
</html>