<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="Photo"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" th:href="@{/owr/postviewers.css}"/>
</head>
<body>

<div class="contentContainer">
<div id="buttonsDiv"></div>
<p th:each="photo : ${photos}">
	<img th:src="'/viewerMedia/' + ${blogName} + '/' + ${photo.photoName}" th:alt="${photo.photoOriginalUrl}" />
</p>
<div id="regularContentContainer" th:utext="${caption}"></div>
</div>
<div id="tagContainer" th:utext="${tags}"></div>

<div id="photoLinks">
<button id="fixImagesButton" th:text="#{imageviewer.fixImageButton}"></button>
</div>
<script type="application/javascript" th:src="@{/owr/jquery.js}"></script>

<script type="application/javascript" th:utext="${postIDJS}"></script>
<script type="application/javascript" th:utext="${blogNameJScript}"></script>	
<script type="application/javascript" th:src="@{/owr/postviewers.js}"></script>
</body>
</html>