<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="Photo"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/postviewer.css}"/>
</head>
<body>

<div class="contentContainer">
<div th:switch="${post.isFavourite}">
	<h2 th:case="true">
		<button id="unfavouriteButton" th:text="#{postviewers.markNonFavouriteButton}"></button>
		<button id="markUnreadButton" th:text="#{postviewers.markunreadbutton}"></button>
	</h2>
	<h2 th:case="*">
		<button id="favouriteButton" th:text="#{postviewers.markFavouriteButton}"></button>
		<button id="markUnreadButton" th:text="#{postviewers.markunreadbutton}"></button>
	</h2>
</div>
<p th:each="photo : ${photos}">
	<a th:href="'/viewers/imageViewer/' + ${photo}" target="_singlephotoviewer"><img th:src="'/viewerMedia/' + ${photo}" /></a>
</p>
<div id="regularContentContainer" th:utext="${caption}"></div>
</div>
<div id="tagContainer" th:utext="${tags}"></div>

<div id="photoLinks">
<button id="fixImagesButton" th:text="#{imageviewer.fixImageButton}"></button>
</div>
<script type="text/javascript"
        src="webjars/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript" th:text="'var postId = ' + ${post.Id} + ';'"></script>
<script type="text/javascript" th:src="@{/js/taghandler.js}"></script>
<script type="text/javascript" th:src="@{/js/imageViewer.js}"></script>
<script type="text/javascript" th:src="@{/js/favouriteshandler.js}"></script>
</body>
</html>