<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Video</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/postviewer.css}"/>
</head>
<body>

<div class="contentContainer">
<div id="buttonsDiv"></div>
<video controls="controls" preload="auto" th:height="${video.height}" th:width="${video.width}">
	<source th:src="'/viewerVideo/' +  ${video.postId} + '.' + ${video.extension}" th:type="${video.contentType}" />
</video>
<div id="regularContentContainer" th:utext="${video.videoCaption}"></div>
</div>
<div id="tagContainer" th:utext="${tags}"></div>

<script type="text/javascript" th:text="'var postId = ' + ${post.Id} + ';'"></script>
<script type="text/javascript"
        src="webjars/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" 
        src="webjars/jquery-i18n-properties/1.10.2/jquery.i18n.properties.min.js"></script>


<script type="text/javascript" th:src="@{/js/taghandler.js}"></script>
<script type="text/javascript" th:src="@{/js/viewerbuttonshandler.js}"></script>

</body>
</html>