.favSpan {
	color: rgb(28, 148, 196);
	font-weight: bold;
}

.readSpan {
	color: rgb(28, 148, 196);
	font-weight: bold;
}

a {
	color: rgb(28, 148, 196);
}

#postTable_length label {
	color: rgb(255, 255, 255);
}

#postTable_length option {
	color: rgb(28, 148, 196);
}

#postTable_length label select {
	color: rgb(28, 148, 196);
}

.navbar-selected {
	background-color: rgb(246, 246, 246);
	background-image: url(images/ui-bg_glass_100_f6f6f6_1x400.png);
}

.navbar-selected a {
	color: #1c94c4;
}

input[type=text] {
	color: rgb(28, 148, 196);
	font-weight: 700;
}