/* navbar */
.navbar-selected {
	box-sizing: border-box;
	display: block;
	margin: -15px;
	padding: 15px;
	background-attachment: scroll;
	background-clip: border-box;
	background-origin: padding-box;
	background-position-x: 50%;
	background-position-y: 50%;
	background-size: auto;
}

/* all */
fieldset {
	margin: 10px;
}

#footer {
	margin-top: 20px;
}

/* posts page */

#radioContainerLayoutTable td {
	vertical-align: top;
}

#contentDisplayContainer {
	table-layout: fixed;
}

#contentDisplayTable {
	display: table-cell;
	width: 50%;
}

#contentDisplayReadingPane {
	display: none;
	width: 50%;
	vertical-align: top;
}

#displayPaneIFrame {
	width: 50vw;
	height: 100vh;
	float: right;
	overflow: hidden;
}

.fixed {
	position: fixed;
	top: 20px;
	width: 100%
}

.clickableTableValue {
	cursor: pointer;
	overflow-wrap: break-word;
}

.favSpan {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
	cursor: pointer;
	font-size: 115%;
}

.notFavSpan {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
	cursor: pointer;
	font-size: 115%;
}

.readSpan {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
	cursor: pointer;
	font-size: 115%;
}

.notreadSpan {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
}

.disabled {
	opacity: 0.5;
}

.postFilterBoxContainer {
	padding: none;
}

.postFilterBox {
	display: inline;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: none;
}


/* settings page */
.settingsLabel {
	text-align: right;
	padding-right: 2px;
	word-wrap: break-word;
}

.settingsInput {
	text-align: left;
	padding-left: 2px;
}

/* conversations page */

#conversationWordCloudContainer {
	width:100%;
}

.jqcloud-word {
	cursor: pointer;
}

#exportedXMLText {
	display: block;
	box-sizing: padding-box;
	overflow: hidden;
	padding: 10px;
	width: 98%;
	font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
	background-color:#EEEEEE;
}