/* posts page */

#radioContainerLayoutTable td {
	vertical-align: top;
}

#contentDisplayContainer {
	table-layout: fixed;
}

#contentDisplayTable {
	display: table-cell;
	width: 50%;
}

#contentDisplayReadingPane {
	display: none;
	width: 50%;
	vertical-align: top;
}

#displayPaneIFrame {
	width: 50vw;
	height: 100vh;
	float: right;
	overflow: hidden;
}

.fixed {
	position: fixed;
	top: 20px;
	width: 100%
}

.clickableTableValue {
	cursor: pointer;
	overflow-wrap: break-word;
}

.favSpan {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
	cursor: pointer;
	font-size: 115%;
}

.notFavSpan {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
	cursor: pointer;
	font-size: 115%;
}

.readSpan {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
	cursor: pointer;
	font-size: 115%;
}

.notreadSpan {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
}

.disabled {
	opacity: 0.5;
}


/* settings page */

#settingsTable th, td {
	padding: 10px;
}

#mainSettingsTable td {
	vertical-align: top;
}

#submitButtonTD {
	text-align: center;
}

/* conversations page */

#conversationWordCloudContainer {
	width:100%;
}

.jqcloud-word {
	cursor: pointer;
}