#settingsTable th, td {
	padding: 10px;
}

#mainSettingsTable td {
	vertical-align: top;
}

#submitButtonTD {
	text-align: center;
}

#conversationWordCloudContainer {
	width:100%;
}

.favSpan {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
	color: blue;
	cursor: pointer;
}

.notFavSpan {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
	cursor: pointer;
}

.readSpan {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
	color: blue;
	cursor: pointer;
}

.notreadSpan {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
}