<nav class="navbar navbar-inverse" xmlns:th="http://www.thymeleaf.org">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/" th:text="#{header.indexTitle}"></a>
            <a class="navbar-brand" href="/conversations" th:text="#{header.conversationsTitle}"></a>
            <a class="navbar-brand" href="/metadata" th:text="#{header.metadataTitle}"></a>
            <a class="navbar-brand" href="/staged" th:text="#{header.stagedPosts}"></a>
        </div>
    </div>
</nav>
