<nav class="ui-widget-header" xmlns:th="http://www.thymeleaf.org">
    <div class="container-fluid">
	    <span id="navbar-link-index" class="navbar-brand"></span>
	    <span id="navbar-link-conversations" class="navbar-brand"></span>
	    <span id="navbar-link-staged" class="navbar-brand"></span>
	    <span id="navbar-link-hashtags" class="navbar-brand"></span>
	    <span id="navbar-link-md" class="navbar-brand"></span>
		<fieldset class="ui-widget-content" id="headerBlogSelectContainer">	
			<label for="headerBlogSelect" th:text="#{header.currentblog.label}" class="ui-checkboxradio-label"></label>
	    	<select id="headerBlogSelect" class="ui-selectmenu-text"></select>
		</fieldset>
    </div>
</nav>