<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{main.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/datatables.min.css}"/>
</head>
<body>

<div id="header"></div>

<div class="container-fluid">

   	<div id="radioContainer">
   		<table id="radioContainerLayoutTable"><tr>
   			<td>
		   		<input type="radio" name="filterRead" id="filterUnread" th:text="#{main.radios.read}"></input> 
		   		<input type="radio" name="filterRead" id="filterRead" th:text="#{main.radios.unread}"></input> 
		   		<input type="radio" name="filterRead" id="filterNoValues" th:text="#{main.radios.showAll}"></input>
		   		<br />
		   		<input type="radio" name="showFavs" id="showFavourites" th:text="#{main.radios.showFavourites}"></input>
		   		<input type="radio" name="showFavs" id="showNonFavourites" th:text="#{main.radios.showNonFavourites}"></input>
		   		<input type="radio" name="showFavs" id="showAll" th:text="#{main.radios.showAllFavs}"></input>
   			</td>
   			<td>
   				<input type="radio" name="showReadingPaneRadio" id="showReadingPaneSelected" th:text="#{main.radios.showReadingPane}"></input>
   				<input type="radio" name="showReadingPaneRadio" id="showPopupsSelected" th:text="#{main.radios.showPopUps}"></input>
   			</td>
   			<td>
   				<a href="/hashtagViewer" target="viewer" th:text="#{main.showhashtags}"></a>
   			</td>
   		</tr></table>
 	</div>
 	<table id="contentDisplayContainer"><tr>
 		<td id="contentDisplayTable">
			<table id="postTable" class="display" style="table-layout:fixed">
				<thead>
					<tr>
						<th data-priority="5" th:text="#{main.postTable.idColumn}"></th>
						<th data-priority="2" th:text="#{main.postTable.typeColumn}"></th>
						<th data-priority="6" th:text="#{main.postTable.slugColumn}"></th>
						<th data-priority="7" th:text="#{main.postTable.hashTagColumn}"></th>
						<th data-priority="1" th:text="#{main.postTable.dateColumn}"></th>
						<th data-priority="3" th:text="#{main.postTable.favouritecolumn}"></th>
						<th data-priority="4" th:text="#{main.postTable.isReadColumn}"></th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th th:text="#{main.postTable.idColumn}"></th>
						<th th:text="#{main.postTable.typeColumn}"></th>
						<th th:text="#{main.postTable.slugColumn}"></th>
						<th th:text="#{main.postTable.hashTagColumn}"></th>
						<th th:text="#{main.postTable.dateColumn}"></th>
						<th th:text="#{main.postTable.favouritecolumn}"></th>
						<th th:text="#{main.postTable.isReadColumn}"></th>
					</tr>
				</tfoot>
			</table>
 		</td>
 		<td id="contentDisplayReadingPane">
			<iframe id="displayPaneIFrame"></iframe>
 		</td>
 	</tr></table>

</div>

<div id="footer" class="container"></div>

<script type="text/javascript"
        src="webjars/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" 
        src="webjars/jquery-i18n-properties/1.10.2/jquery.i18n.properties.min.js"></script>


<script type="text/javascript" th:src="@{/js/datatables.min.js}"></script>

<script type="text/javascript" th:src="@{/js/posts.js}"></script>

</body>
</html>