<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/datatables.min.css}"/>
</head>
<body>

<div id="header"></div>

<div class="container">

    <div class="starter-template">
    	<div id="radioContainer">
    		Show: 
    		<input type="radio" name="filterRead" id="filterTrueValues">Read</input> 
    		<input type="radio" name="filterRead" id="filterFalseValues">Unread</input> 
    		<input type="radio" name="filterRead" id="filterNoValues" checked="checked">Everything</input>
   		</div>
		<table id="postTable" class="display">
			<thead>
				<tr>
					<th>ID</th>
					<th>Type</th>
					<th>Slug</th>
					<th>Date</th>
					<th>Read?</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th>ID</th>
					<th>Type</th>
					<th>Slug</th>
					<th>Date</th>
					<th>Read?</th>
				</tr>
			</tfoot>
		</table>
    </div>

</div>

<div id="footer" class="container"></div>

<script type="text/javascript"
        src="webjars/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript" th:src="@{/js/datatables.min.js}"></script>

<script type="text/javascript" th:src="@{/js/posts.js}"></script>

</body>
</html>