<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{main.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" th:href="@{/owr/jquery.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{'/css/themes/' + ${theme} + '/jquery-ui.min.css'}"/>
    <link rel="stylesheet" type="text/css" th:href="@{'/css/themes/' + ${theme} + '/tev.css'}"/>    
    <link rel="stylesheet" type="text/css" th:href="@{/owr/posts.css}"/>
</head>
<body>

<div id="header"></div>

<div class="container-fluid">
	<div id="messageAreas"></div>
   	<div id="radioContainer">
   		<div id="radioContainerLayoutTable">
  			<a href="#" id="additionalOptionsLink"></a>
  			<div id="additionalOptionsTable" style="display:none;">
  			<div class="ui-widget-content">
  				<p class="ui-widget-header" th:text="#{main.radios.readunread}"></p>
				<fieldset>
					<label for="filterUnread" th:text="#{main.radios.read}" class="ui-checkboxradio-label"></label>
					<input type="radio" name="filterRead" id="filterUnread" class="ui-checkboxradio"></input>
					<label for="filterRead" th:text="#{main.radios.unread}" class="ui-checkboxradio-label"></label>
					<input type="radio" name="filterRead" id="filterRead" class="ui-checkboxradio"></input>
					<label for="filterNoValues" th:text="#{main.radios.showAll}" class="ui-checkboxradio-label"></label>
					<input type="radio" name="filterRead" id="filterNoValues" class="ui-checkboxradio"></input>
				</fieldset>
  			</div>
  			<div class="ui-widget-content">
  				<p class="ui-widget-header" th:text="#{main.radios.favnonfav}"></p>
					<fieldset class="ui-widget-content">
						<label for="showFavourites" th:text="#{main.radios.showFavourites}" class="ui-checkboxradio-label"></label>
						<input type="radio" name="showFavs" id="showFavourites" class="ui-checkboxradio"></input>
						<label for="showNonFavourites" th:text="#{main.radios.showNonFavourites}" class="ui-checkboxradio-label"></label>
						<input type="radio" name="showFavs" id="showNonFavourites" class="ui-checkboxradio"></input>
						<label for="showAll" th:text="#{main.radios.showAll}" class="ui-checkboxradio-label"></label>
						<input type="radio" name="showFavs" id="showAll" class="ui-checkboxradio"></input>
					</fieldset>
  			</div>
  			<div class="ui-widget-content">
  				<p class="ui-widget-header" th:text="#{main.radios.readingpane}"></p>
				<fieldset class="ui-widget-content">
					<label for="showReadingPaneSelected" th:text="#{main.radios.showReadingPane}" class="ui-checkboxradio-label"></label>
					<input type="radio" name="showReadingPaneRadio" id="showReadingPaneSelected" class="ui-checkboxradio"></input>
					<label for="showPopupsSelected" th:text="#{main.radios.showPopUps}" class="ui-checkboxradio-label"></label>
					<input type="radio" name="showReadingPaneRadio" id="showPopupsSelected" class="ui-checkboxradio"></input>
				</fieldset>
  			</div>
  			</div>
		</div>
 	</div>
 	<table id="contentDisplayContainer"><tr>
 		<td id="contentDisplayTable">
			<table id="postTable" class="display" style="table-layout:fixed">
				<thead>
					<tr>
						<th data-priority="6" th:text="#{main.postTable.idColumn}"></th>
						<th data-priority="2" th:text="#{main.postTable.typeColumn}"></th>
						<th data-priority="3" th:text="#{main.postTable.stateColumn}"></th>
						<th data-priority="7" th:text="#{main.postTable.slugColumn}"></th>
						<th data-priority="8" th:text="#{main.postTable.hashTagColumn}"></th>
						<th data-priority="1" th:text="#{main.postTable.dateColumn}"></th>
						<th data-priority="4" th:text="#{main.postTable.favouritecolumn}"></th>
						<th data-priority="5" th:text="#{main.postTable.isReadColumn}"></th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th data-priority="6" th:text="#{main.postTable.idColumn}"></th>
						<th data-priority="2" th:text="#{main.postTable.typeColumn}"></th>
						<th data-priority="3" th:text="#{main.postTable.stateColumn}"></th>
						<th data-priority="7" th:text="#{main.postTable.slugColumn}"></th>
						<th data-priority="8" th:text="#{main.postTable.hashTagColumn}"></th>
						<th data-priority="1" th:text="#{main.postTable.dateColumn}"></th>
						<th data-priority="4" th:text="#{main.postTable.favouritecolumn}"></th>
						<th data-priority="5" th:text="#{main.postTable.isReadColumn}"></th>
					</tr>
				</tfoot>
			</table>
 		</td>
 		<td id="contentDisplayReadingPane">
			<iframe id="displayPaneIFrame"></iframe>
 		</td>
 	</tr></table>

</div>

<div id="footer" class="container"></div>

<script type="text/javascript" th:src="@{/owr/jquery.js}"></script>
<script type="text/javascript" th:src="@{/owr/posts.js}"></script>
</body>
</html>