<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{staged.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" th:href="@{/owr/jquery.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{'/css/themes/' + ${theme} + '/jquery-ui.min.css'}"/>
    <link rel="stylesheet" type="text/css" th:href="@{'/css/themes/' + ${theme} + '/tev.css'}"/>    
    <link rel="stylesheet" type="text/css" th:href="@{/owr/staged.css}"/>
</head>
<body>

<div id="header"></div>

<div class="container-fluid">
	<div id="messageAreas"></div>
	<table id="stagedPostsTable" class="display">
		<thead>
			<tr>
				<th th:text="#{staged.table.id}"></th>
				<th th:text="#{staged.table.type}"></th>
				<th th:text="#{staged.table.slug}"></th>
				<th th:text="#{staged.table.downloadImages}"></th>
				<th th:text="#{staged.table.remove}"></th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th th:text="#{staged.table.id}"></th>
				<th th:text="#{staged.table.type}"></th>
				<th th:text="#{staged.table.slug}"></th>
				<th th:text="#{staged.table.downloadImages}"></th>
				<th th:text="#{staged.table.remove}"></th>
			</tr>
		</tfoot>
	</table>
	
	<button id="downloadButton" th:text="#{staged.downloadButton}" class="ui-button ui-widget ui-corner-all"></button>
	<button id="removeAllButton" th:text="#{staged.removeAllButton}" class="ui-button ui-widget ui-corner-all"></button>
</div>

<div id="footer" class="container"></div>

<script type="text/javascript" th:src="@{/owr/jquery.js}"></script>
<script type="text/javascript" th:src="@{/owr/staged.js}"></script>
</body>
</html>