<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Types</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/datatables.min.css}"/>
</head>
<body>

<div id="header"></div>

<div class="container">

    <div class="starter-template">
    	<table id="typesTable" class="display">
    		<thead>
    			<tr>
    				<th>ID</th>
    				<th>Type</th>
    			</tr>
    		</thead>
    		<tfoot>
    			<tr>
    				<th>ID</th>
    				<th>Type</th>
    			</tr>
    		</tfoot>
    	</table>
    </div>

</div>

<div class="container" id="footer"></div>

<script type="text/javascript"
        src="webjars/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript" th:src="@{/js/datatables.min.js}"></script>

<script type="text/javascript" th:src="@{/js/temp.js}"></script>

</body>
</html>