@import "../tev-theme.css";

:root {
	--main-text-colour: #c02669;
	--bold-text-weight: 700;
	--bg-text-colour: rgb(225, 228, 99);
	--hover-text-colour: rgb(225, 228, 99);
	--navbar-background-colour: rgb(147, 195, 205);
	--navbar-selected-bg-image: url(/css/themes/hot-sneaks/images/ui-bg_diagonals-small_50_93c3cd_40x40.png);
	--navbar-border-top-style: none;
	--navbar-border-top-colour: rgb(147, 195, 205);
	--navbar-border-top-width: 0px;
	--selected-tab-colour: rgb(51, 51, 51);
}
