@import "../tev-theme.css";

:root {
	--main-text-colour: rgb(69, 69, 69);
	--bold-text-weight: bold;
	--bg-text-colour: rgb(69, 69, 69);
	--hover-text-colour: #007fff;
	--navbar-background-colour: rgb(246, 246, 246);
	--navbar-selected-bg-image: none;
	--navbar-border-top-style: none;
	--navbar-border-top-colour: rgb(246, 246, 246);
	--navbar-border-top-width: 0px;
	--selected-tab-colour: rgb(69, 69, 69);
}
