.favSpan {
	color: #2191c0;
	font-weight: bold;
}

.readSpan {
	color: #2191c0;
	font-weight: bold;
}

a {
	color: #2191c0;
}

#postTable_length label {
	color: rgb(234, 245, 247);
}

#postTable_length option {
	color: #2191c0;
}

#postTable_length label select {
	color: #2191c0;
}

.navbar-selected {
	background-color: rgb(0, 120, 174);
	background-image: url(images/ui-bg_glass_45_0078ae_1x400.png);
}

.navbar-selected a {
	color: rgb(255, 255, 255);
}

input[type=text] {
	color: rgb(0, 120, 174);
}

.ui-autocomplete-input {
	color: rgb(0, 120, 174);
}

