@import "../tev-theme.css";

:root {
	--main-text-colour: #2191c0;
	--bold-text-weight: 700;
	--bg-text-colour: rgb(234, 245, 247);
	--hover-text-colour: rgb(110, 172, 44);
	--navbar-background-colour: rgb(0, 120, 174);
	--navbar-selected-bg-image: url(/css/themes/start/images/ui-bg_glass_45_0078ae_1x400.png);
	--navbar-border-top-style: none;
	--navbar-border-top-colour: rgb(0, 120, 174);
	--navbar-border-top-width: 0px;
	--selected-tab-colour: rgb(255, 255, 255);
}
