@import "../tev-theme.css";

:root {
	--main-text-colour: rgb(51, 131, 187);
	--bold-text-weight: 700;
	--bg-text-colour: rgb(68, 68, 68);
	--hover-text-colour: none;
	--navbar-background-colour: rgb(238, 238, 238);
	--navbar-selected-bg-image: url(/css/themes/overcast/images/ui-bg_glass_60_eeeeee_1x400.png);
	--navbar-border-top-style: none;
	--navbar-border-top-colour: rgb(238, 238, 238);
	--navbar-border-top-width: 0px;
	--selected-tab-colour: #3383bb;
}
