.favSpan {
	color: rgb(51, 131, 187);
	font-weight: bold;
}

.readSpan {
	color: rgb(51, 131, 187);
	font-weight: bold;
}

a {
	color: rgb(51, 131, 187);
}

#postTable_length label {
	color: rgb(68, 68, 68);
}

#postTable_length option {
	color: rgb(51, 131, 187);
}

#postTable_length label select {
	color: rgb(51, 131, 187);
}

.navbar-selected {
	background-color: rgb(238, 238, 238);
	background-image: url(images/ui-bg_glass_60_eeeeee_1x400.png);
}

.navbar-selected a {
	color: #3383bb;
}

input[type=text] {
	color: rgb(51, 131, 187);
	font-weight: 700;
}