@import "../tev-theme.css";

:root {
	--main-text-colour: rgb(51, 51, 51);
	--bold-text-weight: 700;
	--bg-text-colour: rgb(234, 245, 247);
	--hover-text-colour: rgb(254, 206, 47);
	--navbar-background-colour: rgb(254, 206, 47);
	--navbar-selected-bg-image: url(/css/themes/sunny/images/ui-bg_gloss-wave_60_fece2f_500x100.png);
	--navbar-border-top-style: none;
	--navbar-border-top-colour: rgb(254, 206, 47);
	--navbar-border-top-width: 0px;
	--selected-tab-colour: #4c3000;
}
