.favSpan {
	color: #0073ea;
}

.readSpan {
	color: #0073ea;
}

.navbar-selected {
	background-color: rgb(246, 246, 246);
	background-image: url(images/ui-bg_highlight-soft_100_f6f6f6_1x100.png);
}

.navbar-selected a {
	color: rgb(0, 115, 234);
}

input[type=text] {
	color: rgb(0, 115, 234);
	font-weight: 700;
}