.favSpan {
	color: rgb(85, 85, 85);
	font-weight: bold;
}

.readSpan {
	color: rgb(85, 85, 85);
	font-weight: bold;
}

a {
	color: rgb(85, 85, 85);
}

#postTable_length label {
	color: rgb(85, 85, 85);
}

#postTable_length option {
	color: rgb(85, 85, 85);
}

#postTable_length label select {
	color: rgb(85, 85, 85);
}

