@import "../tev-theme.css";

:root {
	--main-text-colour: rgb(85, 85, 85);
	--bold-text-weight: 700;
	--bg-text-colour: rgb(85, 85, 85);
	--hover-text-colour: none;
	--navbar-background-colour: rgb(230, 230, 230);
	--navbar-selected-bg-image: url(/css/themes/smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png);
	--navbar-border-top-style: none;
	--navbar-border-top-colour: rgb(230, 230, 230);
	--navbar-border-top-width: 0px;
	--selected-tab-colour: #555;
}
