@import "../tev-theme.css";

:root {
	--main-text-colour: rgb(51, 51, 51);
	--bold-text-weight: 700;
	--bg-text-colour: rgb(225, 255, 255);
	--hover-text-colour: rgb(184, 87, 0);
	--navbar-background-colour: rgb(237, 228, 212);
	--navbar-selected-bg-image: url(/css/themes/humanity/images/ui-bg_glass_70_ede4d4_1x400.png);
	--navbar-border-top-style: none;
	--navbar-border-top-colour: rgb(237, 228, 212);
	--navbar-border-top-width: 0px;
	--selected-tab-colour: #3f3731;
}
